*{
    margin: 0px;
    padding: 0px;
}
.header img{
    width: 100px;
    height: 100px;
}
.header{
    display: inline;
    margin-left: 20px;
}
.header>h1{
    display: inline;
    font-size: xxx-large;
}
.p{
    font-size:xx-large;
    margin-left: 20px;
    width: 1490px;
    background: linear-gradient(360deg, rgba(42,106,161,1) 0%, rgba(225,230,248,1) 50%, rgba(42,106,161,1) 100%);
}

nav{
    width: 200px;
    height: 600px;
    margin-left: 20px;
}
.ninja{
    width: 100px;
    height: 150px;
    margin: 50px;
    
}
.contNinja{
    background-image: url(./ad_background.png);
    width: 210px;
    height: 310px;
    margin-top: 10px;
}
.colorT{
    color: red;
}
.colorT1{
    color: #296aa0;
}
.colorT2{
    color: #5fbdcb;
}
.colorT3{
    font-weight:900;
}
.b1{
    color: white;
    width: 200px;
    height: 30px;
    background-color: #3775aa;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
}
.b2{
    color: white;
    width: 200px;
    height: 30px;
    background-color: #ef7c00;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    margin-bottom: 50px;
}
.b3{
    color: white;
    width: 200px;
    height: 30px;
    background-color:#00c0dd;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
}
.mainNav{
    display: inline-flex;
    background: radial-gradient(circle, rgba(224,225,226,1) 0%, rgba(255,255,255,1) 0%, rgba(224,225,226,1) 100%);
}
.container{
    margin-left: 40px;
    width: 1250px;
    height: 450px;
}
.home{
    width: 30px;
    height: 30px;

}
.call{
    width: 50px;
    height: 50px;
    margin-left: 920px;
    margin-bottom: 10px;
}
.header2{
    display:inline-felx;
}
.dns{
    display:inline-flex;
    
}
.contact{
    display: inline-block;
    flex-direction: row-reverse;
}
.list{
    margin-left: 40px;
}
.serv{
    width: 300px;
    height: 150px;
    margin-left: 200px;
}
footer>img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
footer{
    width: 1230px;
    height: 115px;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    border: #2d6ca1 5px solid;
    display: inline-flex;
}
.txtf{
    display: block;
    margin: 10px;
    
}
.txtf>h3{
    margin-bottom: 5px;
    
}
.contNinja>h2{
    color: white;
    padding: 10px;
}